* { margin: 0; padding: 0;}


.menu--item{
  text-transform: capitalize;
}

.menu--item:hover{
  background-color: aqua;
  cursor: pointer;
}


.game--image{
  display: block;
  margin: 0 auto;
}

.game--image--choose{
  display: block;
  margin: 0 auto;
}

.game--selection{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.game--image--choose:hover{
  cursor: pointer;
  box-shadow: 4px 4px 8px black;
}

.game--avatars--container{
  width: 33rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 20px;
}

.game--avatar{
  position: relative;
  align-self: center;
  border-radius: 50%;
  width: 6rem;
  z-index: 1;
}

.game--avatar--overlay{
  border-radius: 40%;
  position: absolute;
  content: ' ';
  width: 100px;
  height: 100%;
  background: rgba(34, 212, 58, 0.5);
  z-index: 2;
}