* { margin: 0; padding: 0;}

.nav--links--container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu--item{
  text-transform: capitalize;
}

.menu--item:hover{
  background-color: aqua;
  cursor: pointer;
}


.game--image{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.game--image--choose{
  display: block;
  margin: 0 auto;
}

.game--selection{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.game--image--choose:hover{
  cursor: pointer;
  box-shadow: 4px 4px 8px black;
}

.game--avatars--container{
  width: 33rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 20px;
}

.game--avatar{
  position: relative;
  align-self: center;
  border-radius: 50%;
  width: 6rem;
  z-index: 1;
}

.game--avatar--overlay{
  border-radius: 40%;
  position: absolute;
  content: ' ';
  width: 100px;
  height: 100%;
  background: rgba(34, 212, 58, 0.5);
  z-index: 2;
}

.modal--overlay{
  position: absolute;
  content: ' ';
  background-color: black;
  width: 100%;
  z-index: 3;
  opacity: 35%;
  filter: blur(50%);
}
.modal--container{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 10rem;
  background-color: white;
  border: 2px solid black;
  margin-left: 40%;
  margin-top: 20%;
  z-index: 4;
}

.leaderboard--container{
  text-transform: capitalize;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard--title{
  margin-bottom: 0.5rem;
}

.leaderboard--item{
  padding: 1.5rem;
  background-color: rgb(226, 222, 222);
  width: 100%;
}

.leaderboard--item:hover{
  padding: 1.5rem;
  background-color: white;
  width: 100%;
}

.leaderboard--hr{
  border-bottom: 1px solid gray;
  width: 100%;
}

.leaderboard--item--container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hover--text{
  align-self: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  opacity: 0;
  position: absolute;
  font-size: 4vw;
  z-index: 4;
  background-color: black;
  width: 60%;
  height: 100%;
  transition: opacity .2s, visibility .2s;
  cursor: pointer;
}

.leaderboard--item--container:hover .hover--text{
  opacity: 0.5;
  z-index: 4;
}

.level--images{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 calc(10% - 20px);
}